.redcar

# Ignore bundler config
/.bundle

# Ignore the default SQLite database.
db/*.sqlite3

# Ignore all logfiles and tempfiles.
log/*.log
tmp

01_rdio_environment_vars.rb

# Ignore coverage data
syntax: regexp
^coverage/*

01_rdio_environment_vars.rb
